:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #10e141;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.ftco-section {
    padding: 7em 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}




.half {
    width: 100%;
}

@media (min-width: 992px) {
    .half {
        width: 50%;
    }
}

.opacity{
    background-color: rgba(239, 239, 239, 0.6);
}

.bg-img{
    vertical-align: middle;
    background-image: url('../images/middlepic.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;


}

.username{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:solid 1px rgb(243, 224, 224);
    border-radius: 0%;
    width: 100%;
}

.username input{
    border: none;
    width: 100%;
}
.username input:focus{

    outline: none;
}

.password{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:solid 1px rgb(243, 224, 224);
    border-radius: 0%;
    width: 100%;
}

.password :focus{

    outline: none;
}

.password input{
    border: none;
    width: 100%;
}
.password input :focus{
    outline: none;
}

.btn-shadow{
    box-shadow: 0px 3px 1px #888888;
    border: none;
    background-color: #007bff;

}

.btn-shadow:focus{
    outline: none;
    border: none;

}

.btn-shadow:hover{
    box-shadow:none;
    background-color: #09c722;
}

.text{
    color: #81c709;
}

.text2{
    color: #1c0094;
}



