/* =============================================================.css=============
   Author's custom styles
========================================================================== */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
/* ==========================================================================
   Home page
========================================================================== */

/* ==========================================================================
   header section start
========================================================================== */
.navbar-default {
    background-color: rgba(255, 255, 255,90%);
    margin: 0;
    border-radius: 0;
    position: absolute;
    width: 86%;
    margin-left: 91px;
    margin-top: 35px;
    z-index: 999;
    transition: .6s;
}
.navbar.stick {
    background-color: rgba(255, 255, 255,90%);
    padding: 5px 0 0 0;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 20px 0 #0009;
    width: 100%;
    border-radius: 0px;
    margin-left: 0;
    margin-top: 0px;
    transition: .7s;
}
.navbar-brand>img {
    display: block;
    margin-top: 18px;
    margin-left: 30px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.headermenu {
    float: right;
    margin-top: 0px;
}
.navbar-brand {

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #eb1c23 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #eb1c23 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #eb1c23 !important;
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    padding: 0;
    margin-top: 10px;
}
.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 16px 0 16px;
    color: #2c2c2c !important;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
}
ul.nav li:nth-child(7) a {
    padding-right: 0px;
}
.navbar-default .navbar-nav>li>a {
    /*padding-right: 10px;
    padding-top: 15px;*/
    padding-bottom: 17px;
    padding-top: 3px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { /*border-bottom: 1px solid #eee;*/ }
.nav-list > li {
    padding: 0px 10px 0px;
    border-left: 1px solid #eee;
    width: 210px;
    margin-bottom: 10px;
}
/*.nav-list > li:last-child {
    border-left: none;
}*/
.nav-list > li:first-child {
    border-left: none;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    right: 0px;
    left: auto;
}
/*
.nav-list > li:last-child { border-right: 1px solid #eee; }*/
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > img {
    width: 150px;
    height: 100px;
}
.nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
}
.nav-list > li > a > p {
    display: block;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    text-align: center;
    word-break: break-all;
    color: #555;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #095bbb;
    text-decoration: none;
    background-color: transparent;
}


.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #eb1c23;
    text-decoration: none;
    background-color: transparent;
}
.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
    padding: 5px 10px 15px;
    text-align: center;
    width: 100%;
    border-radius: 0;
    box-shadow: 0px 3px 9px 0 #0009;
    background-color: #fff;
}
.headertop {
    text-align: right;
    padding-top: 17px;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin-top: -4px;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#444;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#2186ff;
    transform:rotateY(360deg);
}
.headertop .box h1 {
    font-size: 14px;
    color: #2c2c2c;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
}
.headertop .box strong {
    font-weight: 400;
    color: #eb1c23;
}
.headertop .box i {
    font-size: 18px;
    color: #eb1c23;
    margin: 0 10px 0 10px;
}
.headertop .box i:hover {
    color: #639b02;
}
.headertop .box a {
    text-decoration: none;
    border: none;
    padding: 4px 0 0 0;
    color: #2c2c2c;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.headertop .box h2 {
    font-size: 14px;
    color: #2c2c2c;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 3px;
}
.headertop .box h2:hover {
    color: #639b02;
}
.stick {
    background-color: #fff;
    padding: 5px 0 0 0;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 20px 0 #0009;
}
.stick .headertop{
  display: none;
}
.stick .logo{
  display: none;
}

.logonext {
    display: none;
}
.logonext img {
    margin-top: 0px;
}
.stick .logonext{
  display: block;
}

.stick{
  padding-top: 5px;
}

/*-- Navbar Toggle --*/

.navbar-toggle {
    width: 40px;
    height: 40px;
    color: #333;
    border-radius: 0;
    padding: 0;
    text-align: center;
    border: none;
    margin: 0;
}

.navbar-brand {
    float: left;
    padding: 0;
}


/* ==========================================================================
   header section end
========================================================================== */

/* ==========================================================================
   sliderbottom Section Start
========================================================================== */
.sliderbottom {
    padding: 0;
    background-color: #f1f1f1;
    position: relative;
}
.sliderbottomcontent {
    background: #fff;
    margin-top: -55px;
    z-index: 0;
    box-shadow: 0 3px 0px 0 #d7d7d7;
    margin-bottom: 10px;
}
.sliderbottompic {
    text-align: right;
}
.sliderbottompic img{
    padding-top: 17px;
}
.sliderleftcontent {
    background-color: rgba(255, 255, 255,80%);
    position: absolute;
    right: 100px;
    bottom: 220px;
    z-index: 19;
    padding: 0 15px 0 27px;
}
.sliderleftcontent img {
    float: left;
    margin: 35px 10px 0 0;
}
.sliderleftcontent h1 {
    font-size: 24px;
    color: #2d2d2d;
    /*color: #fff;*/
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: uppercase;
    padding: 15px 0 12px 0;
}
.sliderleftcontent p {
    font-size: 12px;
    color: #2d2d2d;
    /*color: #fff;*/
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0px 0 25px 0;
}
.sliderbottombox {
    padding-bottom: 22px;
    padding-left: 8px;
    display: inline-flex;
}
.sliderbottomfiled {}
.sliderbottomfiled textarea {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-family: roboto,sans-serif;
    margin: 0;
    float: left;
    width: 265px;
    border-radius: 0px;
    background: #f6f6f6;
    border-color: #929292;
    height: 55px;
}
.sliderbottomfiled .btn {
    border-radius: 0;
    border-color: #78b107;
    background: #78b107;
    color: #fff;
    margin-left: 8px;
    padding: 16px 18px 16px 17px;
}
.sliderbottomfiled .btn:hover {
    background: #eb1c23;
    border-color: #eb1c23;
    color: #fff;
    transition: 0.7s;
}
/* ==========================================================================
   sliderbottom Section end
========================================================================== */
/* ==========================================================================
   Services Section start
========================================================================== */

.Services{
    background-color: #f1f1f1;
}
.servicetop{}
.servicetop h1 {
    font-size: 30px;
    color: #444444;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
    text-align: center;
    padding: 80px 0 70px 0;
    margin: 0;
}

.servicecontent{
    text-align: center;
}
.servicecontent i {
    font-size: 70px;
    color: #639b02;
    padding-bottom: 33px;

}
.servicecontent i:hover {
    color: #eb1c23;

}

.servicecontent h1{
    font-size: 16px;
    color: #444444;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.servicecontent h3{
    font-size: 16px;
    color: #444444;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding-bottom: 38px;
    text-transform: uppercase;
}
.servicecontentview h2{
    font-size: 14px;
    color: #639b02;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 65px;
    display: inline-block;
}
.servicecontentview h2:hover{
    color: #666666;
}
.servicecontentview h2:hover:before{
    background: #fff;
}
.servicecontentview h2:before {
    background: #639b02;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0%;
    position: absolute;
    width: 30px;
    right: 0;
}

/*
.serviceicon {
    text-align: center;
    margin-top: -20px;
}

.serviceicon h2{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    font-family: robto,sans-serif;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 62px;
    display: inline-block;
}

.serviceicon h2:before {
    background: #fff;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0%;
    position: absolute;
    width: 30px;
    right: 0;
}
*/

/* ==========================================================================
   Services Section end
========================================================================== */

/* ==========================================================================
   middlebody Section start
========================================================================== */

#middlebody {
    padding: 70px 0 60px 0;
    background: url(../img/middlepic.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.skilltext {
    background: rgba(255, 255, 255,54%);
    padding: 0 80px 0 80px;
}
.skilltext h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #444444;
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    padding: 105px 0 22px 0;
}
.skilltext p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 0;
    line-height: 22px;
}
.sofbtn .btn {
    padding: 10px 32px 10px 32px;
    border-radius: 0;
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    background-color: #78b107;
    color: #fff;
    border: none;
    font-weight: 700;
    box-shadow: 0 3px 0px 0 #d7d7d7;
    margin:  22px 0 105px 0;
}
.sofbtn .btn:hover {
    color: #fff;
    background-color: #eb1c23;
    font-weight: 700;
    box-shadow: none;
    transition: all .9s;
    background-color: #eb1c23;
}
/* ==========================================================================
   middlebody Section End
========================================================================== */

/* ==========================================================================
   grouptext Section start
========================================================================== */
.grouptext {
    padding: 55px 0 55px 0;
}
.grouptextcontent {}
.grouptextcontent h1{
    font-size: 30px;
    color: #444;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}
.grouptextcontent h2{
    font-size: 14px;
    color: #666;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 22px;
}
/* ==========================================================================
   grouptext Section end
========================================================================== */


/* ==========================================================================
   groupbody Section start
========================================================================== */
.groupbody {}
.groupbodytext {}
.groupbodytext h1{
    font-size: 20px;
    color: #444;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.groupbodytext img{
    width: 100%;
}

.groupslide {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 50px;
}
.grouppager li>a, .grouppager li>span {
    display: inline-block;
    padding: 7px 20px 8px 20px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 0px;
    color: #fff;
    margin-right: 12px;
    margin-left: 13px;
    font-size: 23px;
}
.grouppager li>a:focus, .grouppager li>a:hover {
    text-decoration: none;
    background-color: #639b02;
    border-color: #639b02;
}
/* ==========================================================================
   groupbody Section end
========================================================================== */
/*button*/

/*.btn {
    position: relative;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:hover {
    color: #fff;
}
.btn:hover, .btn:focus {
    box-shadow: none;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #243d52;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .55s;
    transition-duration: .55s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: -1;
}

.btn:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}
*/


/* ==========================================================================
   Testimonials Section start
========================================================================== */

.Testimonials {
    padding: 65px 0 72px 0;
    background-color: #fff;
}

.Testimonials h2 {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #343434;
    margin: 0;
    padding-bottom: 18px;
    padding-left: 50px;
}

.Testimonials p {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px;
    padding: 0px 120px 0 120px;
    margin-top: 5px;
}
.Testimonials h1 {
    font-family: 'Lato', sans-serif;
    color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 40px 0 7px 215px;
}
.Testimonials h3 {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0px 215px;
}


/* carousel */
#quote-carousel {
    padding: 0 10px 12px 10px;
    margin-top: 24px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
  text-align: left;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #dcdcdc;
  border-color: #dcdcdc;
}
#quote-carousel .carousel-indicators .active
{
  background: #ed1c24;
}
/* End carousel */

.Testimonials .item  {
    margin-top: -5px;
}


.Testimonials .item p:before {
    content: url(../img/ticon.png);
    float: left;
    margin-right: 19px;
    padding-bottom: 150px;
    margin-left: 16px;
}


/* ==========================================================================
   Testimonials Section End
========================================================================== */
/* ==========================================================================
   clienttext Section start
========================================================================== */
.clienttext {
    padding: 55px 0 25px 0;
    background-color: #f1f1f1;
}
.clienttextcontent {}
.clienttextcontent h1{
    font-size: 30px;
    color: #444;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-bottom: 17px;
}
.clienttextcontent h2{
    font-size: 14px;
    color: #666;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 22px;
}
/* ==========================================================================
   clienttext Section end
========================================================================== */

/* ==========================================================================
   clientbody Section start
========================================================================== */

.clientbody {
    background-color: #f1f1f1;
    padding-bottom: 60px;
}
/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
    left: -30px;
    background-image: none;
    background: none repeat scroll 0 0 #cccccc;
    border: none;
    border-radius: 0px;
    height: 40px;
    width: 40px;
    margin-top: 115px;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    padding: 3px 3px 3px 3px;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -30px;
    background-image: none;
    background: none repeat scroll 0 0 #cccccc;
    border: none;
    border-radius: 0px;
    height: 40px;
    width: 40px;
    margin-top: 115px;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    padding: 3px 3px 3px 3px;
}
.media-carousel .carousel-control.left:hover,
.media-carousel .carousel-control.right:hover
{
    text-decoration: none;
    background-color: #639b02;
    border-color: #639b02;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
    width: 100%;
    height: auto;
}
/* End carousel */

/* ==========================================================================
   clientbody Section end
========================================================================== */

/* ==========================================================================
   downloadapp Section start
========================================================================== */

#downloadapp {
    padding: 105px 0 40px 0;
    background: url(../img/service.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}
.downloadcontent {}
.downloadcontent h1{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-bottom: 17px;
}
.downloadcontent h2{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 22px;
}
.downladgopic {
    display: inline-flex;
}
.downladgopic img {
    /* width: 90px; */
    /* height: auto; */
    margin-right: 15px;
    margin-left: 15px;
    padding: 60px 0 80px 0;
}
/* ==========================================================================
   downloadapp Section End
========================================================================== */

/* ==========================================================================
   footer_areatop Section start
========================================================================== */

.footer_areatop {
    background-color: #e8e8e8;
}
.footer_areatop ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    padding-bottom: 10px;
    white-space: nowrap;
}
.footercontent {}
.footercontent img {
    padding: 110px 0 0px 0;
}

.track a {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: roboto, sans-serif;
}

.track a:hover,
.track a:focus {
    text-decoration: none;
    color: #055195;
}
.track {
    padding: 87px 0 48px 0;
    margin: 0;
}
.footer_areatop i {
    padding-right: 5px;
    color: #1c1c1c;
}

/* ==========================================================================
   footer_areatop Section end
========================================================================== */

/* ==========================================================================
   footer_areabottom Section start
========================================================================== */

.footer_areabottom {
    background: #4f4f4f;
    padding: 25px 0 25px 0;
}
.footer_areabottomcontent {
    text-align: center;
}
.footer_areabottomcontent h1 {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ==========================================================================
   footer_areabottom Section end
========================================================================== */

/* ==========================================================================
   return-to-top Section start
========================================================================== */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #78b107  url(../img/arrow-up.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  z-index: 9999;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}

.cd-top:hover {
  background-color: #eb1c23;
  opacity: 1;
}
/* ==========================================================================
   return-to-top Section end
========================================================================== */
/* ==========================================================================
   LOGIN MODAL Section start
========================================================================== */
.seminor-login-modal-body {
    padding: 16px 10px 17px 0;
    border-bottom: 1px solid #e5e5e5;
}
.seminor-login-modal-body h3 {
    font-weight: 700;
    font-size: 40px;
    font-family: lato light, sans-serif;
    color: #343434;
    text-align: center;
}
.seminor-login-modal-body .close {
    position: relative;
    top: -73px;
    left: 0px;
    color: #78b107;
    font-size: 40px;
}
.seminor-login-modal-body .close:hover{
    color: #eb1c23;
}
.seminor-login-modal-body .close{
    opacity:0.75;
}

.seminor-login-modal-body .close:focus, .seminor-login-modal-body .close:hover {
    color: #eb1c23;
     opacity: 1;
     text-decoration: none;
     outline:0;
}

.seminor-login-modal .modal-dialog .modal-content{
    border-radius:0px;
}


.field-container {
  position: relative;
  margin-top:25px;
  font-family: 'Roboto', sans-serif;
}
.field {
    display: block;
    width: 100%;
    border: none;
    font-size: 14px;
    border: 0px solid #ced4da !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    box-shadow: none;
}
.field:focus {
  outline: 0;
}
.floating-label {
  position:absolute;
  pointer-events:none;
  top: 15px;
  left:5px;
  font-size: 10px;
  opacity:0;
  background-color: transparent;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.field:valid + .floating-label {
  opacity:1;
  top:-15px;
  color: #9e9e9e;
}
.field:focus + .floating-label {
  color: #03a9f4;
}

.field-underline {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:-5px;
  border:1px solid #9e9e9e;
  z-index: -1;
  padding:10px 10px 0;
}
.field:focus + .floating-label + .field-underline {
  border-color:#03a9f4;
}


.btn-check-log {
    padding-top: 20px;
}
.btn-check-log .btn-check-login {
    font-size: 20px;
    padding: 5px 0;
}
button.btn-check-login:hover {
    color: #fff;
    background-color: #eb1c23;
    border: 2px solid #eb1c23;
}
.btn-check-login {
     color: #ffff;
     background-color: #78b107;
     border: 2px solid #78b107;
     transition: all ease-in-out .3s;
}
.btn-check-login {
     display: inline-block;
     padding: 12px 0;
     margin-bottom: 0;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-image: none;
     border-radius: 0;
     width: 100%;
}

.text-primary-fau {
    color: #1959a2;
}

.select-form-control-placeholder{
    font-size: 100%;
    padding: 7px 0 0 13px;
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 30px;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: none;
  width: 50%;
  border-radius: 0;
}

/* The Close Button */
/*.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}*/
/* ==========================================================================
   LOGIN MODAL Section end
========================================================================== */

/* ==========================================================================
   Tracking  page start
========================================================================== */
.bealogo {}
.bealogo img {
    padding: 17px 0 17px 0;
}
.beamenu nav ul li:hover > a, .beamenu nav ul li.active > a {
    color: #eb1c23;
}
.beamenu nav ul li a::before {
    content: none;
}
.beamenu {
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 35px;
    position: absolute;
    background: rgba(255, 255, 255,90%) !important;
}
.baemenu h1 {
    color: #4c4c4b;
    margin: 0px;
    font-size: 14px;
    font-family: 'roboto medium',sans-serif;
    padding-top: 18px;
    text-align: right;
    padding-bottom: 8px;
}
.baemenu strong {
    font-weight: 400;
    color: #eb1c23;
}
.aboutslider {
    /* padding: 112px 0 118px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tracking {
    background-color: #f1f1f1;
    padding: 0px 0 110px 0;
}
.trackingbody {
    background: #fff;
    box-shadow: 0 3px 0px 0 #d7d7d7;
    margin-top: -35px;
}
.trackingtop {
    text-align: center;
    border-bottom: 1px solid #cecece;
    margin-bottom: 29px;
}


/* ==========================================================================
   baeslider section start
========================================================================== */
.baeslider {}
.baeslider img{
    width: 100%;
}

/* ==========================================================================
   baeslider section end
========================================================================== */
.trackingtop h1 {
    font-size: 24px;
    color: #2d2d2d;
    font-weight: 700;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 50px 0 10px 0;
    margin-bottom: 40px;
}
.trackingtop p {
    font-size: 12px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-bottom: 16px;
}
.trackingmiddle {
    text-align: center;
}
.trackingmiddle h1 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 17px 0 16px 0;
    display: inline-block;
    border-bottom: 1px solid #f00;
}
.trackingmiddle1 {}
.trackingmiddle1left {}
.trackingmiddle1left h1 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.trackingmiddle1left strong {
    font-weight: 700;
}
.trackingmiddleimg {
    text-align: center;
}
.trackingmiddle1right {
    text-align: right;
}
.trackingmiddle1right h1 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.trackingmiddle1right strong {
    font-weight: 700;
}
.trackingdelivery {
    text-align: center;
    padding-top: 22px;
}
.trackingdelivery h1 {
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 27px 0 26px 0;
    background: #c9ef86;
    border-bottom: 1px solid #639b02;
}


.trackingmiddle2 {
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #cecece;
}
.trackingmiddle1left1 {}
.trackingmiddle1left1 h2 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-bottom: 11px;
}
.trackingmiddle1left1 h1 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.trackingmiddle1left1 strong {
    font-weight: 700;
}
.trackinborder {
    border-bottom: 1px solid #cecece;
    padding-top: 20px;
}

.trackingmiddle3 {
    padding: 26px 0 5px 0;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
}
.trackingmiddle1left2 {}
.trackingmiddle1left2 h1 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-top:8px;
}
.trackingmiddle1left2 strong {
    font-weight: 400;
}
.trackingmiddle1right2 {
    float: right;
    padding-top: 10px;
}
.trackingmiddle1right2 select {
    border: none;
    width: 130px;
    color: #2d2d2d;
}
.trackingdate {
    text-align: center;
    /*padding-top: 10px;*/
}
.trackingdate h1 {
    color: #fff !important;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 11px 0 10px 0;
    background: #96c04b;
    font-size: 14px;
}

.trackingmiddle4 {
    background: #f3f3f3;
    margin-bottom: 2px;
}
.trackingmiddle1left3 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.trackingmiddle1left3 h1 {
    font-size: 12px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.trackingmiddle1right3 {
    float: right;
    margin: 10px 0 0 0;
}
.trackingmiddle1right3 select {
    border: none;
    width: 130px;
    color: #2d2d2d;
    background: transparent
}
.trackingmiddle5 {
    background: #f3f3f3;
    margin-bottom: 65px;
}
.trackingsliderleftcontent {
    border: 1px solid #b4b4b4;
    margin-top: 29px;
}
.trackingsliderleftcontent h1 {
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: uppercase;
    padding: 11px 0px 11px 8px;
    background: #e7e7e7;
}
.trackingsliderleftcontent p {
    font-size: 12px;
    color: #2d2d2d;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 12px 0 20px 8px;
}
.trackingsliderbottombox {
    padding-bottom: 22px;
    padding-left: 8px;
    display: inline-flex;
}
.trackingsliderbottomfiled {}
.trackingsliderbottomfiled textarea {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-family: roboto,sans-serif;
    margin: 0;
    float: left;
    width: 100%;
    border-radius: 0px;
    background: #f6f6f6;
    border-color: #929292;
    height: 114px;
}
.trackingsliderbottomfiled .btn {
    border-radius: 0;
    border-color: #78b107;
    background: #78b107;
    color: #fff;
    margin-left: 8px;
    margin-right: 5px;
    padding: 46px 18px 46px 17px;
}
.trackingsliderbottomfiled .btn:hover {
    background: #eb1c23;
    border-color: #eb1c23;
    transition: 0.7s;
}
#chevron-arrow-right {
  display: inline-block;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
}
.shiphis {}
.shiphisleftcontent {}
.shiphisleftcontent th {
   padding-right: 34px;
    padding-bottom: 8px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #555 !important;
    white-space: nowrap;
}
.shiphisleftcontent td {
    padding-bottom: 8px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #2d2d2d;
    word-break: break-word;
}
.shiphisleftheader {}
.shiphisleftheader h1 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    border-bottom: 1px solid #cecece;
    padding: 33px 0 9px 15px;
    margin-bottom: 25px;
}
.shiphisleftheader strong {
    font-weight: 700;
}
/* ==========================================================================
   Tracking  page end
========================================================================== */

/* ==========================================================================
   about page strat
========================================================================== */
.abouttracking {
    padding: 0;
    background-color: #f1f1f1;
    position: relative;
}
.aboutsliderbottomcontent {
    background: #fff;
    margin-top: -80px;
    z-index: 0;
    box-shadow: 0 3px 0px 0 #d7d7d7;
    margin-bottom: 10px;
}
.aboutsliderbottompic {
    text-align: right;
}
.aboutsliderbottompic img{
    padding-top: 17px;
}
.aboutsliderleftcontent {
}
.aboutsliderleftcontent h1 {
    font-size: 24px;
    color: #2d2d2d;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: uppercase;
    padding: 15px 0 12px 0;
}
.aboutsliderleftcontent p {
    font-size: 12px;
    color: #2d2d2d;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0px 0 25px 0;
}
.aboutsliderbottombox {
    padding-bottom: 32px;
}
.aboutsliderbottomfiled {}
.aboutsliderbottomfiled input {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-family: roboto,sans-serif;
    margin: 0;
    float: left;
    width: 50%;
    border-radius: inherit;
    background: #f6f6f6;
    border-color: #929292;
}
.aboutsliderbottomfiled textarea {
    font-size: 14px !important;
    color: #777777;
    font-weight: 400;
    font-family: roboto,sans-serif;
    margin: 0;
    float: left;
    width: 50% !important;
    border-radius: inherit;
    background: #f6f6f6;
    border-color: #929292;
    height: 34px;
}
.aboutsliderbottomfiled .btn {
    border-radius: 0;
    border-color: #78b107;
    background: #78b107;
    color: #fff;
    /*margin-left: -10px;*/
}
.aboutsliderbottomfiled .btn:hover {
    background: #eb1c23;
    border-color: #eb1c23;
    transition: 0.7s;
}

.worktext {
    padding: 40px 0 75px 0;
    background: #f1f1f1;
}
.worktextcontent {}
.worktextcontent h1{
    font-size: 30px;
    color: #444444;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-bottom: 25px;
}
.worktextcontent h2{
    font-size: 14px;
    color: #444;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 22px;
}
#Aboutbody {
    padding: 0px 0 0px 0;
    background: #f1f1f1;
}

.aboutskilltext {
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}
.aboutskilltext img {
    float: left;
    padding: 0 30px 47px 0;
}
.aboutskilltext h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #444444;
    margin: 0;
    text-transform: capitalize;
    padding: 0 0 30px 0;
}
.aboutskilltext p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 0;
    line-height: 22px;
}
/* ==========================================================================
   about  page end
========================================================================== */


/* ==========================================================================
   SEVICE  page start
========================================================================== */
.sevice {
    background-color: #f1f1f1;
}
.sevicetextcontent {
    border-bottom: 1px solid #ccc;
    padding-bottom: 41px;
}
.sevicetextcontent h1 {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #444444;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.sevicetextcontent h2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 0;
    line-height: 22px;
    padding-bottom: 50px;
}
.sevicetextcontentist {
    margin-bottom: 25px;
}
.sevicetextcontentist li {
    margin-bottom: 5px;
}
.sevicetextcontentist i {
    margin-right: 10px;
}
.sevicetextcontentist h6  {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #007A48;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.sevicetextcontentist ul.experiencelist {
    margin-bottom: 20px;
}
.grouppicmain {
    background-color: #ffff !important;
    margin-bottom: 30px;
}
.grouppicmain img {
    width: 100%;
    padding: 30px;
}
.sevicetextcontent_group h2 {
        padding-bottom: 20px !important;
}
/* ==========================================================================
   SEVICE  page end
========================================================================== */

/* ==========================================================================
   contact page start
========================================================================== */

.contactbutoom {
    background-color: #f0f0f0;
    padding-bottom: 105px;
}
.contactleft {
    background: #ffffff;
    padding: 0 65px 0 65px;
}
.contactfrom{
    padding: 35px 15px 33px 15px;
}
.contactfrom h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:#444;
    margin: 0;
    display: inline-block;
}
.contactfrom h1 {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color:#78b107;
    margin: 0;
    float: right;
    padding-top: 2px;
}
.contactfiled {
    padding-bottom: 15px;
}

.contactfiled .form-control {
    background: #f1f1f1;
    border-radius: 0;
    border-color: #cfcfcf;
}
.contactbutoon {
    text-align: left;
}
.contactbutoon .btn {
    color: #ffff;
    background-color: #78b107;
    border: 2px solid #78b107;
    transition: all ease-in-out .3s;
    padding: 9px 24px 7px 24px;
    text-transform: uppercase;
    border-radius: 0px;
    margin-bottom: 60px;
}
.contactbutoon .btn:hover {
    color: #fff;
    background-color: #eb1c23;
    border: 2px solid #eb1c23;
    transition: 0.7s;
}
.address1  {
    padding-bottom: 30px;
}
.address1 h1 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:#43464c;
    margin: 0;
    padding: 0px 0 16px 0;
}
.address1 h2 {
    font-weight: 400;
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #636363;
    margin: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #bcbcbc;
}

/* ==========================================================================
   contact page start
========================================================================== */



















































/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-width: 991px) {

.Testimonials .item p:before {
    margin-right: 15px;
    padding-bottom: 30px;
}
.Testimonials h2 {
    text-align: left;
    padding-right: 0;
    padding-left: 25px;
}
.Testimonials p {
    font-size: 15px;
    padding: 0px;
}
.Testimonials h1 {
    padding: 23px 0 7px 90px;
}
.Testimonials h3 {
    padding: 0 0 45px 88px;
}
#quote-carousel .carousel-indicators {
    left: 310px;
}
.media-carousel .carousel-control.left {
    margin-top: 50px;
}
.media-carousel .carousel-control.right {
    margin-top: 50px;
}
.sliderbottomcontent {
    margin-top: 40px;
}
.modal-content {
    width: 70%;
}
.trackingsliderbottomfiled textarea {
    width: 300px;
}
.aboutsliderbottomcontent {
    margin-top: -50px;
}
.aboutsliderbottomfiled input {
    width: 60%;
}
.address1 {
    padding-top: 50px;
}
.trackingsliderleftcontent {
    margin-bottom: 50px;
}

}










@media screen and (max-width: 767px) {

.navbar-default {
    background-color: #fff;
    margin: 0;
    border-radius: 0;
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding: 0;
    margin-top: 75px;
    float: none;
    padding-left: 20px;
}
.navbar-nav {
    margin: 15px 0 0 0;
}
.navbar.stick {
    position: relative;
}

.headertop {
    float: left;
    padding: 5px 0 10px 0px;
}

.footercategory {
    text-align: center;
}
.track {
    /*border-right: 1px solid #434343;*/
    text-align: center;
}
.footer_areabottomcontent {
    text-align: center;
    margin-top: 15px;
}

.box {
    text-align: center;
    margin-top: 20px;
    float: none;
}

.navbar-brand>img {
    display: block;
    margin-top: 8px;
    margin-left: 24px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    right: 0px;
    left: auto;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.track {
    padding: 54px 0 48px 0;
}
.footercontent {
    text-align: center;
}
.footercontent img {
    padding: 50px 0 0px 0;
}
#quote-carousel .carousel-indicators {
    left: 320px;
}
.downladgopic img {
    width: 150px;
    height: auto;
    padding: 15px 0 20px 0;
}
.media-carousel .carousel-control.left {
    left: -12px;
}
.media-carousel .carousel-control.right {
    right: -12px;
}
.media-carousel img {
    margin-bottom: 15px;
}
.media-carousel .carousel-control.left {
    margin-top: 300px;
}
.media-carousel .carousel-control.right {
    margin-top: 300px;
}
.field-container {
    margin-top: 20px;
}
.seminor-login-modal-body {
    padding: 9px 10px 10px 0;
}
.modal-content {
    padding: 10px;
}
.modal {
    padding-top: 20px;
}
.trackingmiddle1right3 {
    float: left;
    margin: 10px 0 15px 0;
}
.aboutsliderbottomcontent {
    margin-top: 0px;
}
.aboutskilltext {
    text-align: center;
}
.aboutskilltext img {
    float: none;
    padding: 0 0px 47px 0;
}
.aboutskilltext h2 {
    padding: 0 0 20px 0;
}
.servicepicright {
    text-align: center;
    margin-top: 50px;
}
.sevicetextcontent {
    margin-bottom: 30px;
}
.trackingmiddle1left {
    margin-top: 20px !important;
}
.trackingmiddle1right {
    margin-top: 20px !important;
}
}




@media screen and (max-width: 480px) {

.headertop .box span {
    display: inline-block;
    text-align: left;
}
.headertop .card .box h1 {
    font-size: 13px;
    margin-bottom: 5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 110px;
}
.headertop .card .box strong:before {
    margin-left: 5px;
    margin-right: 5px;
}

.card .box ul li a {
    margin: 0 13px;
    font-size: 18px;
}

.track {
    text-align: left;
}
#quote-carousel .carousel-indicators {
    left: 235px;
}
#downloadapp {
    padding: 0px 0 0px 0;
}
.downloadcontent h1 {
    font-size: 20px;
    padding-bottom: 17px;
    padding-top: 35px;
}
.downloadcontent h2 {
    line-height: 18px;
}
.downladgopic img {
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
}
.groupbodytext h1 {
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.grouptext {
    padding: 55px 0 10px 0;
}
.grouppager li>a, .grouppager li>span {
    padding: 2px 15px 3px 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.media-carousel .carousel-control.left {
    margin-top: 160px;
}
.media-carousel .carousel-control.right {
    margin-top: 160px;
}
.aboutsliderbottomfiled textarea {
    width: 80% !important;
}
.sliderbottompic img {
    width: 100px;
}
.sliderbottomfiled input {
    width: 100%;
}
.modal-content {
    width: 85%;
}
.trackingsliderbottombox {
    padding-right: 10px;
}
.trackingmiddle1left1 h2 {
    font-size: 16px;
}
.trackingmiddle1left h1 {
    font-size: 14px;
}
.trackingmiddle1right h1 {
    font-size: 14px;
}
.trackingmiddle1left1 h1 {
    font-size: 14px;
}
.trackingmiddleimg {
    padding: 10px;
}
.aboutsliderbottompic img {
    width: 100px;
    padding-top: 35px;
}
.aboutsliderbottomfiled input {
    width: 90%;
}
.contactleft {
    padding: 0 15px 0 15px;
}
}





@media screen and (max-width: 400px) {

.headertop .card .box h1 {
    font-size: 12px;
}
.Testimonials .item p:before {
    margin-right: 15px;
    padding-bottom: 200px;
}
#quote-carousel .carousel-indicators {
    left: 207px;
}
.downloadcontent h1 {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 28px;
}
.downloadcontent h2 {
    font-size: 12px;
    line-height: 18px;
}
.downladgopic img {
    width: 90px;
}
.skilltext {
    padding: 0 10px 0 10px;
}
.skilltext h2 {
    font-size: 20px;
    padding: 25px 0 15px 0;
}
.skilltext p {
    font-size: 12px;
    line-height: 18px;
}
.sofbtn .btn {
    font-size: 12px;
    margin: 22px 0 35px 0;
}
.grouppager li>a, .grouppager li>span {
    padding: 1px 10px 1px 10px;
}
.grouptextcontent h1 {
    font-size: 25px;
    padding-bottom: 15px;
}
.grouptextcontent h2 {
    font-size: 12px;
    line-height: 20px;
}
.media-carousel .carousel-control.left {
    margin-top: 110px;
}
.media-carousel .carousel-control.right {
    margin-top: 110px;
}
.sliderleftcontent h1 {
    font-size: 20px;
    padding: 15px 0 8px 0;
}
.slide-text {
    top: 20% !important;
}
.sliderleftcontent p {
    padding: 0px 0 10px 0;
}
.sliderbottompic img {
    width: 85px;
}
.modal-content {
    width: 90%;
}
.seminor-login-modal-body .close {
    top: -60px;
}
.seminor-login-modal-body h3 {
    font-size: 30px;
}
.trackingsliderbottomfiled textarea {
    width: 190px;
}
.aboutsliderbottompic img {
    width: 75px;
}
.aboutsliderleftcontent h1 {
    font-size: 20px;
}
.aboutskilltext img {
    width: 300px;
}
.aboutsliderbottomfiled input {
    width: 80%;
}
.grouppicmain img {
    padding: 10px;
}
.aboutsliderbottomfiled textarea {
    font-size: 11px !important;
    padding: 8px;
}
.trackingmiddle1left1 h1 {
    font-size: 12px;
}
}
