li.active-div>a.hidden-xs {
    display: block !important;
    cursor: default;

}

li.active-div>a.visible-xs {
    display: none !important;
}

.nav-pills.nav-wizard>li {
    position: relative;
    overflow: visible;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    width: 19%;
}

.nav-pills.nav-wizard>li:first-child {
    border-left: 0;
}

.nav-pills.nav-wizard>li:first-child a {
    border-radius: 5px 0 0 5px;
}

.nav-pills.nav-wizard>li:last-child {
    border-right: 0;
}

.nav-pills.nav-wizard>li:last-child a {
    border-radius: 0 5px 5px 0;
}

.nav-pills.nav-wizard>li a {
    border-radius: 0;
    background-color: #eee;
    padding: 10px;

}

.nav-pills.nav-wizard>li .nav-arrow {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 10px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #eee;
    z-index: 150;
}

.nav-pills.nav-wizard>li .nav-wedge {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 10px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: #eee #eee #eee transparent;
    z-index: 150;
}

.nav-pills.nav-wizard>li:hover .nav-arrow {
    border-color: transparent transparent transparent #eee;
}

.nav-pills.nav-wizard>li:hover .nav-wedge {
    border-color: #eee #eee #eee transparent;
}

.nav-pills.nav-wizard>li:hover a {
    background-color: #eee;
    color: #333;
    cursor: default;
}

.nav-pills.nav-wizard>li.active-div .nav-arrow {
    border-color: transparent transparent transparent #78B107;
}

.nav-pills.nav-wizard>li.active-div .nav-wedge {
    border-color: #78B107 #78B107 #78B107 transparent;
}

.nav-pills.nav-wizard>li.active-div a {
    background-color: #78B107;
}

.active-div,
.disabled {
    width: 19%;
}
